.footer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(10, 10, 10, 0.642), rgba(8, 7, 7, 0.683));
    background-size: cover;
    background-position: center;
    text-align: center;
}
/* .content h2{
    color: rgb(145, 125, 125);
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 10px;
}
.content h2{
    position: relative;
}
.content h2::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    border-left: 2px solid red;
    animation: typing 10s steps(17) infinite;
}
@keyframes typing{
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
} */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22) infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }